 .header {
            min-height: 30px;
            background: linear-gradient(90deg,#c22e2e, #f7f311);
            display: flex;



        }

        body {
            margin: 0;
            position: relative;
            min-height: 100vh;
            background-color: #f3f3f3;
        }

        .footer {
            height: 50px;
            background: linear-gradient(90deg, #c22e2e, #f7f311);
            
        }
        a{
            text-decoration-line: none;
        }
        .body {
            min-height: calc(100vh - 30px);
        }